.cart {
    display: flex;
    flex-direction: column;
}

.cart .cart-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.cart .cart-action p {
    height: 20px;
    width: auto;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: 700;
    margin-left: 20px;
}

.cart .cart-action p:hover {
  color: white;
  background: black;
  border: 2pxsolid #ccc;
  cursor: pointer;
}